@import "reset";
@import "animation";
@import "base";
@import "typography";
/* Layout geral do portifolio */

.main-grid {
  display: grid;
  grid-template-areas: "header" "selected" "featured" "myfooter";
  grid-template-rows: auto auto auto auto;
  grid-gap: $space2;
  width: 100vw;
  margin: 0 auto;
}

/* Cabeçalho do portifólio*/

.portifolio-header {
  @extend %container;
  @extend %header-grid;
  grid-area: header;
  display: grid;
  border-bottom: 1px solid $secondary-color;
  &__logo {
    img {
      background-size: 150px;
      height: 150px;
      width: 150px;
      margin: $space0 0;
      @media (max-width: 412px) {
        margin: $space4 auto $space0 auto;
      }
    }
  }
  &__title {
    text-align: right;
    h1 {
      margin: $space3 0 $space2 0;
      @media (max-width: 360px) {
        margin: $space0 auto $space2 auto;
        text-align: center;
      }
    }
    h2 {
      margin: $space1 0 0 0;
      @media (max-width: 360px) {
        text-align: center;
      }
    }
  }
}

/* Imagem em destaque */

.selected-work {
  @extend %container;
  display: grid;
  grid-area: selected;
  img {
    @extend %responsive-img;
    height: auto;
    opacity: 0.85;
  }
}

/* Grid com os trabalhos em destaque */

.featured-work {
  @extend %container;
  grid-area: featured;
  &__header {
    border-bottom: 1px solid $secondary-color;
    margin: $space4 0 $space2 0;
    h3 {
      margin-bottom: $space1;
    }
  }
  &__articles {
    display: grid;
    @extend %work-grid;
    @for $i from 1 through 9 {
      // :nth-child(1-9)
      &__work:nth-child(#{$i}) {
        // Delay the animation. Delay increases as items loop.
        animation-delay: $i * (0.25s);
      }
    }
    &__work {
      filter: grayscale(100);
      animation: gray_color 5s forwards infinite;
      margin: 0rem;
      padding: 0rem;
      border-radius: 0.5rem;
      &:hover {
        animation: none;
        filter: grayscale(0);
        background-color: $secondary-color;
        margin: -1rem;
        padding: 1rem;
        transition: 0.25s;
        animation-iteration-count: infinite;
      }
      h4 {
        margin: $space0 0 $space0;
      }
      & img {
        @extend %responsive-img;
      }
      footer {
        margin: $space0 0 $space4 0;
      }
    }
  }
}

.portifolio-footer {
  margin: $space3 0 0 0;
  padding: $space1;
  grid-area: myfooter;
  text-align: center;
  background-color: $secondary-color;
}
